{% extends "layout.twig" %}

{% block titre %}
	<h1 class="d-none d-sm-block">Aurélien Regi</h1>
	<h4 class="d-block d-sm-none">Aurélien Regi</h4>
{% endblock titre %}

{% block soustitre %}

	<h3 class="d-none d-sm-block font-italic font-weight-light">Dévelopeur backend</h3>
	<h5 class="d-block d-sm-none font-italic font-weight-light">Dévelopeur backend</h5>


{% endblock %}


{% block sidebar %}
	<div class="row jumbotron">
		<div class="col-12 col-lg-3 text-center">
			<p>
				<img alt="Photo Personnelle" class="img-fluid img-thumbnail " src="public\img\photoperso\aurelienAlleger.jpg">
			</p>
		</div>
		<div class="d-flex flex-column">
			<div class="col">
				<p>
					<strong>
						Permis B avec voiture
					</strong>
				</p>
			</div>
			<div class="col">
				<p>
					<strong>
						regiaurelien@gmail.com
					</strong>
				</p>
			</div>
			<div class="col">
				<p>
					<a href="https://aurelienperso.ovh" target="_blank">Serveur personnel de démonstration</a>
				</p>
			</div>
			<div class="col">
				<div class="d-flex flex-row">
					<a href="https://github.com/Nerpp" target="_blank"><img alt="logo Git Hub" class="img-fluid rounded-circle w-25" src="public\img\logo\github.png"></a>

					<a href="https://www.linkedin.com/in/aurelien-regi/" target="_blank"><img alt="logo Git linkedin" class="img-fluid rounded-circle w-25" src="public\img\logo\linkedin.png"></a>

					<a href="https://twitter.com/Mrnerpp" target="_blank"><img alt="logo twitter" class="img-fluid rounded-circle w-25" src="public\img\logo\twitter.png"></a>

				</div>
			</div>
			<div class="col">
				<p>
					<a href="vue\pdfCV.pdf">Cv sous format Pdf</a>
				</p>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<p>
				<h3>Compétences</h3>
			</p>
		</div>
		<div class="col-12 d-flex justify-content-center jumbotron">
			<strong>
				<li>Html/Css</li>
				<li>Bootstrap</li>
				<li>Javascript</li>
				<li>Php</li>
				<li>Twig</li>
				<li>Symfony (en cours)</li>
				<li>Uml</li>
				<li>POO</li>
				<li>Architecture Mvc</li>
				<li>Wordpress</li>
				<li>Linux</li>
			</strong>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<p>
				<h3>Hobbies</h3>
			</p>
		</div>
		<div class="col-12 d-flex justify-content-center jumbotron">
			<p>
				Gestion d'un Vps personnel, Securité et test de curiosité
				<br>
				Membre de l'Afup depuis 2016, particpe au meet up régulierement
				<br>
				Test de fonction et lecture de la doc Php
				<br>
				Lecture des differents journaux tech pour rester à jour
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<p>
				<h3>Sports</h3>
			</p>
		</div>
		<div class="col-12 d-flex justify-content-center jumbotron">
			<p>
				Trekking, natation, vélo, course à pieds
			</p>
		</div>
	</div>

{% endblock sidebar %}

{% block main %}
	<div class="container-fluid">

		<p>
			<h1>Experiences professionnelles</h1>
		</p>
		<div class="jumbotron">
			<p>
				<strong>Formation Dévelopeur web DA Php/Symfony Openclassroom</strong>
				<br>
				<i>2019 en cour</i>
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Formation Intégrateur Web Openclassroom</strong><br>
				<i>2017-2018</i>
				Montpellier France
				<br>
				<i>Travail éffectué :</i>
				Création de blogs en php brut,création de routeur, sécurité, gestions d'exceptions, automatisation d'envoit de mail authentifié, Maquette de sites,
				<a href="https://github.com/Nerpp" target="__blank">
					<i>codes en public sur GitHub</i>
				</a>
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Chargé de communication : SA Small walking</strong><br>
				<i>2014-2017</i>
				Adélaide Australie
				<br>
				<i>Travail éffectué :
				</i>Etude de marché, conception de flyers, distribution
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Responsable Commercial : Tea cup</strong><br>
				<i>2007-2013</i>
				Tokyo Japon
				<br>
				<i>Travail éffectué :
				</i>Etude de marché, gestion d'une équipe de 5 personnes, mise en place de stratégie commerciale
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Responsable de secteur : Promocash</strong><br>
				<i>2004-2006
				</i>Séte France
				<br>
				<i>Travail éffectué :
				</i>Administration du pôle confiserie : gestion des achats, analyse du marché, mise en rayon
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Vendeur Conseil : Caroprice</strong><br>
				<i>2003-2004</i>
				Lattes France
				<i>Travail éffectué :
				</i>Vente de carrelage en magasin
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Vendeur Conseil : The Island Fruiter</strong><br>
				<i>2002 Juin-Juillet</i>
				Radstock Angleterre
				<br>
				<i>Travail éffectué :
				</i>
				Livraison, Conseil, Caisse
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Commis : The good earth</strong><br>
				<i>2001 Juin-Juillet</i>Wells Angleterre
				<br>
				<i>Travail éfféctué :
				</i>
				Plonge, Cuisine, étude de la concurrence
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Vendeur conseil : Sarl Soulet viande de boeuf</strong><br>
				<i>2001 Mars</i>
				Lombers France
				<br>
				<i>Travail éffectué</i>
				Etude de la concurrence, Mailing, étude clientéle, vente de viande de boeuf durant la crise de la vache folle
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<strong>Vendeur représentant : SARL Gueguen</strong><br>
				<i>2000 Mars et temps libre</i>
				Toulouse France
				<br>
				<i>Travail éffectué :
				</i>
				Vente de vêtement de sport en porte à porte
			</p>
		</div>


		<p>
			<h1>Formations</h1>
		</p>
		<div class="jumbotron">
			<p>
				<i>2018 :
				</i>Intégrateur web
				<i>Certificat Openclassroom</i>
				<a href="https://openclassrooms.com/fr/learning-path-certificates/8486804853" target="_blank">
					<i>Certification Openclassroom</i>
				</a>
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<i>2006 :
				</i>Responsable manager grande distribution
				<i>ISF groupe Sup de Co Montpellier</i>
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<i>2000 :
				</i>Baccalauréat professionnel Vendeur représentant mention européenne
				<i>Lycée Clément de pémille Graulhet</i>
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<i>1998 :
				</i>BEP Comptabilité
				<i>lycée le Parterre Bédarieux</i>
			</p>
		</div>

		<p>
			<h1>Divers</h1>
		</p>
		<div class="jumbotron">
			<p>
				<i>2000-2007</i>
				Dévellopement, Financement, Communication, festival de musique festibaloche
				<a href="http://www.festibaloche.com" target="__blank">Sîte web</a>
			</p>
		</div>
		<div class="jumbotron">
			<p>
				<i>1997-2004</i>
				Sapeur pompier volontaire grade Caporal
			</p>
		</div>
		<div class="jumbotron">
			<p>
				Travaux saisonniers : vendange, cerise, agent d'entretien,maçonnerie
			</p>
		</div>
	</div>
{% endblock main %}
